*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    max-width: 100%;
    background-image: linear-gradient(to right, skyblue, rgb(197, 176, 176));
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

div{
    border: 2px solid black;
    border-radius: 5%;
    padding: 10px;
    margin: auto;
    width: 75%;
}

h1{
    white-space: wrap;
}

ul{
    list-style-type: none;
}

.list-item{
    height: 10%;
    margin-bottom: 2px;
    background-color: gray;
    padding: 5px;
    color: white;
    font-size: x-large;
}